extends layouts/main

include mixins/videoBlock

block content
    .videos
        each item in videos
            +videoBlock({
                title:item.title,
                views:item.views,
                videoFile:item.videoFile
            })

            //mixins 를 사용하면서 아래에 쓴거와 다르게 됨
            //- h1= item.title
            //- p= item.description 